body {
  background-attachment: scroll;
  margin-top: 0px;
  margin-bottom: 0x;
  margin-right: 0px;
  margin-left: 0px;
}
a:link {
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  background-color: transparent;
  text-decoration: none;
}
.header{
  background-image: url("background.jpg") no-repeat scroll center top;
  overflow: hidden;
  background-color: ;
  padding: 0px 0px;
  margin:0px
}
.header-img {
  background: url("logo.png") no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.header-name{
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Metal Mania', cursive;
  font-style: normal;
  font-size: 6em;
  margin-right:10%;

}